head
  title MAF · 2015 Annual Report
  link(href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexbox/css/grid.min.css' rel='stylesheet' type='text/css')
  link(href='flexboxgrid.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
body
  header
    .colored-banner.row
      .col-xs.color-block.background-blue
      .col-xs.color-block.background-green
      .col-xs.color-block.background-purple
      .col-xs.color-block.background-red
      .col-xs.color-block.background-yellow
      .col-xs.color-block.background-orange
      .col-xs.color-block.background-black
  section.hero
    .row.bottom-xs
      .col-xs-12.col-md-6
        h4.no-margin 2015 Annual Report
        h1.no-margin Building Better
      .col-xs-12.col-md-6.small-padding-bottom
        p.no-margin We're a nonprofit on a mission to build a fair financial marketplace for hardworking families.
    .photo
  section.values
    h3.section-header-border.section-header-green Our Values
    .row
      .col-xs-12.col-sm-4.col-md-4
        div.value-photo
          p.background-transparent-purple.value-caption.no-margin We meet you where you are.
      .col-xs-12.col-sm-4.col-md-4
        div.value-photo
         p.background-red.value-caption.no-margin We respect you for who you are. 
      .col-xs-12.col-sm-4.col-md-4
        div.value-photo
          p.background-yellow.value-caption.no-margin We build on what you have. 
  section.ceo-letter
    h3.section-header-border.section-header-gray A Word from Our CEO
    .photo
    .row
     .col-xs-12.col-sm-4.col-md-4
        p.ceo-letter-quote In Spanish we say, “cada quien tiene un don” or “every person has a gift.” Lending Circles brings to light what’s already good in people’s lives.
      .col-xs-12.col-sm-4
        p.ceo-letter-quote-end This year, we’ve built a network of over 50 nonprofits across the nation to bring the power of social lending to thousands of hardworking people every year — so that they, too, can unlock their economic potential.
      .col-xs-12.col-sm-4
        p -- Jose Quinonez
  section
    h2.section-header-border.section-header-blue The MAFistas
    p It's been quite a year at MAF. In 2015, we welcomed 8 new MAFistas — and 1 beautiful baby girl — to the family.
    p Together, we completed over 750 hours of training courses and professional development.
    p Our staff walked, ran, and skipped a total of 32,319,504 steps in MAF’s fitness challenge 
  section
    h2 Our Partners
    p 
  section
    h2 Our Clients
    .client
      h3 Henry
      .call-out
        .number 100%
        .label Of Clients Complete Financial Education
      p “If I had my dream, my daughter would be learning about financial literacy in elementary school.” As a financial coach in Minneapolis, Henry knew Lending Circles was something he couldn’t pass up. From schoolkids to financial coaches, everyone could benefit from financial education. After he joined, he brought the program to his nonprofit, Project for Pride in Living. 
    .client
      h3 Kimberly
      .call-out
        .number 582
        .label New Citizens & DACA Recipients
      p Kimberly worked hard in school, with dreams of becoming a lawyer. As an undocumented student, she wasn’t able to qualify for financial aid — until she joined Lending Circles for Deferred Action. Now she’s enrolled at S.F. State University and prepping her law school applications, on her way to a career in immigration and family law.
    .client
      h3 Sandra
      .call-out
        .number 1 in 7
        .label MAF Clients Are Self-Employed
      p Sandra sells clothing emblazoned with her unique take on Dia de los Muertos “Calacas” (skulls). Despite growing demand, she struggled to get a business loan because of her low credit score. Lending Circles for Business pushed Sandra’s credit score above 800 and provided a loan to invest in more merchandise, helping her build her confidence and clientele.
  section
    h2 Our Impact
    p Stuff to go here.
  section
    h2 Our Partners
    p In 2015, our national network of Lending Circles providers grew from 31 to 53 nonprofit partners — ranging from LGBTQ organizations to business accelerators — across 17 states and Washington, DC.
