head
  title MAF · 2015 Annual Report
  link(href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
body
  section
    .padded-header.background-blue
      h4 2015 Annual Report
      h1 Building Better
    p We're a nonprofit on a mission to build a fair financial marketplace for hardworking families.
  section
    h2 Our Values
    p We meet you where you are. 
    p We respect you for who you are. 
    p We build on what you have. 
  section
    blockquote In Spanish we say, “cada quien tiene un don” or “every person has a gift.” Lending Circles brings to light what’s already good in people’s lives. This year, we’ve built a network of over 50 nonprofits across the nation to bring the power of social lending to thousands of hardworking people every year — so that they, too, can unlock their economic potential.
    p Jose Quinonez
