head
  title MAF · 2015 Annual Report
  link(href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexbox/css/grid.min.css' rel='stylesheet' type='text/css')
  link(href='flexboxgrid.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
body
  header
    .colored-banner.row
      .col-xs.color-block.background-blue
      .col-xs.color-block.background-green
      .col-xs.color-block.background-purple
      .col-xs.color-block.background-red
      .col-xs.color-block.background-yellow
      .col-xs.color-block.background-orange
      .col-xs.color-block.background-black
  section.hero
    .row.bottom-xs
      .col-xs-12.col-md-6
        h4.no-margin 2015 Annual Report
        h1.no-margin Building Better
      .col-xs-12.col-md-6.small-padding-bottom
        p.no-margin We're a nonprofit on a mission to build a fair financial marketplace for hardworking families.
    .photo
  section.values
    h2.section-header-border.section-header-green Our Values
    .row
      .col-xs-12.col-sm-4.col-md-4
        .value-photo
        p.background-purple We meet you where you are.
      .col-xs-12.col-sm-4.col-md-4
        .value-photo
        p.background-red We respect you for who you are. 
      .col-xs-12.col-sm-4.col-md-4
        .value-photo
        p.background-yellow We build on what you have. 
  section
    h2.section-header-border.section-header-gray A Word from Our CEO
    blockquote In Spanish we say, “cada quien tiene un don” or “every person has a gift.” Lending Circles brings to light what’s already good in people’s lives. This year, we’ve built a network of over 50 nonprofits across the nation to bring the power of social lending to thousands of hardworking people every year — so that they, too, can unlock their economic potential.
    p Jose Quinonez
  section
    h2.section-header-border.section-header-blue The MAFistas
    p It's been quite a year at MAF. In 2015, we welcomed 8 new MAFistas — and 1 beautiful baby girl — to the family.
    p Together, we completed over 750 hours of training courses and professional development.
    p Our staff walked, ran, and skipped a total of 32,319,504 steps in MAF’s fitness challenge 
  section
    h2 Our Clients
    .client
      h3 Kimberly
      blockquote Kimberly worked hard in school, with dreams of becoming a lawyer. But as an undocumented student, she wasn’t able to qualify for financial aid — until she joined Lending Circles for DACA and obtained Deferred Action. Now she’s enrolled at S.F. State University and prepping her law school applications, on her way to a career in immigration and family law.
    .client
      h3 Henry
      blockquote “If I had my dream,” Henry says, “my daughter would be learning about financial literacy in elementary school.” As a financial coach in Minneapolis, Henry saw Lending Circles as an opportunity he couldn’t pass up. He knew that everyone — from schoolkids to financial coaches — could benefit from stronger financial knowledge. After participating in Lending Circles firsthand, he helped bring the program to his own organization, Project for Pride in Living. 
    .client
      h3 Sandra
      blockquote An entrepreneur in San Francisco’s Mission District, Sandra designs clothing emblazoned with her unique take on Dia de los Muertos “Calacas” (skulls). Despite the demand for her beautiful artwork, she struggled to get a business loan due to her low credit score. Lending Circles for Business helped Sandra push her credit score above 800 and provided funds to invest in more merchandise, helping her build her confidence and her clientele.
  section
    h2 Our Impact
    p Stuff to go here.
  section
    h2 Our Partners
    p 
