head
  title MAF · 2015 Annual Report
  link(href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexbox/css/grid.min.css' rel='stylesheet' type='text/css')
  link(href='flexboxgrid.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js")
body
  header
    .colored-banner.row
      .col-xs.color-block.background-blue
      .col-xs.color-block.background-green
      .col-xs.color-block.background-purple
      .col-xs.color-block.background-red
      .col-xs.color-block.background-yellow
      .col-xs.color-block.background-orange
      .col-xs.color-block.background-black
  section.hero
    .row.bottom-xs
      .col-xs-12.col-md-6
        h4.no-margin 2015 Annual Report
        h1.no-margin Building Better
      .col-xs-12.col-md-6.small-padding-bottom
        p.no-margin We're a nonprofit on a mission to build a fair financial marketplace for hardworking families.
    .photo.placeholder-lg
  section.values
    h3 Our Values
    .row
      .col-xs-12.col-sm-4.col-md-4
        div.value-photo
          p.background-transparent-purple.value-caption.no-margin We meet you where you are.
      .col-xs-12.col-sm-4.col-md-4
        div.value-photo
         p.background-red.value-caption.no-margin We respect you for who you are. 
      .col-xs-12.col-sm-4.col-md-4
        div.value-photo
          p.background-yellow.value-caption.no-margin We build on what you have. 
  section.ceo-letter
    h3 A Word from Our CEO
    .photo.placeholder-lg
    .row
      .col-xs-12.col-sm-4.col-md-4
        p.ceo-letter-quote In Spanish we say, “cada quien tiene un don” or “every person has a gift.” Lending Circles brings to light what’s already good in people’s lives.
      .col-xs-12.col-sm-4
        p.ceo-letter-quote-end This year, we’ve built a network of over 50 nonprofits across the nation to bring the power of social lending to thousands of hardworking people every year — so that they, too, can unlock their economic potential.
      .col-xs-12.col-sm-4
        p -- Jose Quinonez
  section.mafistas
    h2.section-header-border.section-header-gray The MAFistas
    .photo.placeholder-lg
    .row.hide-xs
      .col-sm-4
        h4.section-header-border.section-header-gray.no-margin 8
        h5.no-margin.section-header-gray New MAFistas
        mixin new-mafistas
          p It's been quite a year at MAF. In 2015, we welcomed 8 new MAFistas — and 1 beautiful baby girl — to the family.
        +new-mafistas
      .col-sm-4
        h4.section-header-border.section-header-yellow.no-margin 750
        h5.no-margin.section-header-yellow Hours of training 
        mixin hours-of-training   
          p Together, we completed over 750 hours of training courses and professional development.
        +hours-of-training
      .col-sm-4
        h4.section-header-border.section-header-green.no-margin 32,319,504
        h5.no-margin.section-header-green Steps
        mixin steps
          p Our staff walked, ran, and skipped a total of 32,319,504 steps in MAF’s fitness challenge
        +steps
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#mafistas-one").mobile-tab-label 8 New MAFistas
            li.mobile-tab
              a(href="#mafistas-two").mobile-tab-label 750 hours
            li.mobile-tab
              a(href="#mafistas-three").mobile-tab-label 32,319,504 steps
        div(id="mafistas-one")
          +new-mafistas
        div(id="mafistas-two")
          +hours-of-training
        div(id="mafistas-three")
          +steps
  section
    h2.section-header-border.section-header-black Our Clients
    .photo.placeholder-lg
    .row
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-green.no-margin 100%
        h5.no-margin.section-header-green Of Clients Complete Financial Education
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-purple.no-margin 582
        h5.no-margin.section-header-purple New Citizens & DACA Recipients
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-orange.no-margin 1 in 7
        h5.no-margin.section-header-orange MAF Clients Are Self-Employed
    .row.middle-xs.client
      .col-xs-12.col-md-6
        .photo.placeholder-md
      .col-xs-12.col-md-6
        h3.no-margin Henry
        p “If I had my dream, my daughter would be learning about financial literacy in elementary school.” As a financial coach in Minneapolis, Henry knew Lending Circles was something he couldn’t pass up. From schoolkids to financial coaches, everyone could benefit from financial education. After he joined, he brought the program to his nonprofit, Project for Pride in Living. 
    .row.middle-xs.client
      .col-xs-12.col-md-6
        .photo.placeholder-md
      .col-xs-12.col-md-6
        h3.no-margin Kimberly
        p Kimberly worked hard in school, with dreams of becoming a lawyer. As an undocumented student, she wasn’t able to qualify for financial aid — until she joined Lending Circles for Deferred Action. Now she’s enrolled at S.F. State University and prepping her law school applications, on her way to a career in immigration and family law.
    .row.middle-xs.client
      .col-xs-12.col-md-6
        .photo.placeholder-md
      .col-xs-12.col-md-6
        h3.no-margin Sandra
        p Sandra sells clothing emblazoned with her unique take on Dia de los Muertos “Calacas” (skulls). Despite growing demand, she struggled to get a business loan because of her low credit score. Lending Circles for Business pushed Sandra’s credit score above 800 and provided a loan to invest in more merchandise, helping her build her confidence and clientele.
  section
    h2.section-header-border.section-header-gray Our Impact
    .row
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-gray.no-margin 5,380
        h5.no-margin.section-header-gray Social Loans
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-gray.no-margin $5.04 million
        h5.no-margin.section-header-gray In Loans
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-gray.no-margin $1.02 million
        h5.no-margin.section-header-gray Saved in Interest & Fees
    .row
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-gray.no-margin 99.3%
        h5.no-margin.section-header-gray Repayment Rate
      .col-xs-12.col-md-4
        h4.section-header-border.section-header-gray.no-margin 599,606
        h5.no-margin.section-header-gray Credit Points Added
  section
    h2.section-header-border.section-header-gray Our Partners
    p In 2015, our national network of Lending Circles providers grew from 31 to 53 nonprofit partners — ranging from LGBTQ organizations to business accelerators — across 17 states and Washington, DC.
  section
    h2 2016 Highlights
  section
    h2 Our Supporters
  section
    h2.section-header-border.no-margin Our Financials
    h4 Every Dollar Opens Doors
    .row
      .col-xs-12
        .photo.placeholder-lg
    .row
      .col-sm-4
        h4 Social Lending
        mixin social-lending
          p In 2015, we provided over $2 million in loans to help thousands of hardworking people save for college, grow businesses, and become citizens — all while building better credit.
        +social-lending
      .col-sm-4
        h4 Fundraising
        mixin fundraising
          p We raised $3.27 million from foundations, corporations, individuals, and partnership fees.  JPMorgan Chase & Co. awarded MAF a landmark grant of $1.5 million to expand Lending Circles even further across the country.
        +fundraising
      .col-sm-4
        h4 Building better
        mixin building-better
          p This year we invested $2 million in new partnerships and upgraded technologies. Two major campaigns — Build a Better Bay Area and Build a Better Northwest — added 9 new local partners and 3 in the Pacific Northwest, while Virtual Formations expanded Lending Circles across California.
        +building-better
    .row
      .col-xs-12
        .h4 Loans Across the Country
    .row
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
    .row
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
    .row
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
    .row
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
      .col-xs-3 NV 81,000
  section
    h2.section-header-border Looking ahead
    .row
      .col-xs-12.col-sm-4
        h4 Lending Circles Summit
        .photo.placeholder-sm
        mixin lending-circles-summit
          p Coming in October 2016, the Lending Circles Summit will convene the nonprofit and for-profit innovators bringing the power of social lending to communities across the country.
          p We’ll hear insights from industry leaders who are shaping the future of financial health about how we can equitably serve consumers of all backgrounds and income levels.
        +lending-circles-summit
      .col-xs-12.col-sm-4
        h4 Mobile App
        .photo.placeholder-sm
        mixin mobile-app
          p Over the next year, we will make our programs completely mobile-accessible.
          p The Lending Circles App will enable participants to monitor financial progress and make it easier for our nonprofit partners to provide social loans to communities across the nation. 
        +mobile-app
      .col-xs-12.col-sm-4
        h4 Research
        .photo.placeholder-sm
        mixin research
          p We learn so we can do better. This year, we’ll finish up a long-term research project with Yale University studying the impact of programs like Lending Circles on participants’ financial lives, as well as the role of friends and family in people’s financial health.
        +research
  section
    h2 Thank You
