@charset "UTF-8";
* {
  box-sizing: border-box;
  text-shadow: none;
  font-family: "Roboto", sans-serif; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #231f20; }
  @media (max-width: 75em) {
    body {
      font-size: 15px; } }

p, q, blockquote, li {
  color: #676565; }

h1 {
  font-family: "Roboto Condensed", sans-serif; }

h2 {
  font-family: "Roboto Condensed", sans-serif; }

h3 {
  font-family: "Roboto Condensed", sans-serif; }

h4 {
  font-family: "Roboto Condensed", sans-serif; }

h5 {
  font-family: "Roboto Condensed", sans-serif; }

h6 {
  font-family: "Roboto Condensed", sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h1, h2 {
  text-transform: uppercase; }

h1.header-border,
h2.header-border,
h3.header-border {
  border-top: 7px solid; }

h4.header-border,
h5.header-border {
  border-top: 3px solid; }

.header-border {
  padding: 0.25em 0; }

.blue {
  color: #59d3ff;
  border-color: #59d3ff; }

.green {
  color: #0f993d;
  border-color: #0f993d; }

.yellow {
  color: #ffbb00;
  border-color: #ffbb00; }

.red {
  color: #bf0020;
  border-color: #bf0020; }

.purple {
  color: #772699;
  border-color: #772699; }

.orange {
  color: #ff7700;
  border-color: #ff7700; }

.black {
  color: #231f20;
  border-color: #231f20; }

.gray {
  color: #44546a;
  border-color: #44546a; }

.header {
  color: #fff;
  padding: 0.75em;
  margin: 3rem -1.5rem; }
  @media (min-width: 75em) {
    .header {
      margin: 3rem 0; } }

.header-blue {
  background-color: #59d3ff; }

.header-green {
  background-color: #0f993d; }

.header-yellow {
  background-color: #ffbb00; }

.header-red {
  background-color: #bf0020; }

.header-purple {
  background-color: #772699; }

.header-orange {
  background-color: #ff7700; }

.header-black {
  background-color: #231f20; }

.header-gray {
  background-color: #44546a; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@font-face {
  font-family: 'StateFaceRegular';
  src: url("./fonts/stateface-regular-webfont.eot");
  src: url("./fonts/stateface-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/stateface-regular-webfont.woff") format("woff"), url("./fonts/stateface-regular-webfont.ttf") format("truetype"), url("./fonts/stateface-regular-webfont.svg#StateFaceRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
.state-icon {
  font-family: 'StateFaceRegular';
  font-size: 2rem;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }

.state-icon-small {
  font-family: 'StateFaceRegular';
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem; }

.show-xs {
  display: none; }

@media only screen and (max-width: 48em) {
  .hide-xs {
    display: none; }

  .show-xs {
    display: inherit; } }
.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.small-padding-bottom {
  padding-bottom: 0.6rem; }

.padded-header {
  padding: 2em 1.5em; }

.background-blue {
  background-color: #59d3ff;
  color: #ffffff; }

.background-green {
  background-color: #0f993d;
  color: #ffffff; }

.background-purple {
  background-color: #772699;
  color: #ffffff; }

.background-red {
  background-color: #bf0020;
  color: #ffffff; }

.background-yellow {
  background-color: #ffbb00;
  color: #ffffff; }

.background-orange {
  background-color: #ff7700;
  color: #ffffff; }

.background-black {
  background-color: #231f20;
  color: #ffffff; }

.background-gray {
  background-color: #44546a;
  color: #ffffff; }

.background-transparent-purple {
  background-color: rgba(119, 38, 153, 0.5);
  color: #ffffff; }

.background-transparent-red {
  background-color: rgba(191, 0, 32, 0.5);
  color: #ffffff; }

.background-transparent-yellow {
  background-color: rgba(255, 187, 0, 0.5);
  color: #ffffff; }

.axis path,
.axis line {
  fill: none;
  stroke: #44546a; }

.axis text {
  fill: #44546a; }

svg rect {
  width: 30px; }

span.big-figure {
  font-size: 4rem;
  font-family: "Roboto Condensed", sans-serif; }

a.mobile-tab-label {
  border-width: 0 0 1 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

.photo {
  background-color: #44546a; }
  .photo img {
    width: 100%; }
  .photo.placeholder-lg {
    height: 40em;
    margin-bottom: 2em; }
  .photo.placeholder-md {
    height: 30em;
    margin-bottom: 2em; }
  .photo.placeholder-sm {
    height: 20em;
    margin-bottom: 1em; }

section {
  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto; }

header .colored-banner .color-block {
  height: 3px; }

section.hero .hero-content {
  margin: 2em 0 3em; }
section.hero .photo {
  background-image: url("images/hero.jpg");
  margin: 0 -1.5rem; }
  @media (min-width: 75em) {
    section.hero .photo {
      margin: 0; } }

.ceo-letter-quote:before {
  quotes: "“" "”" "‘" "’";
  content: open-quote;
  font-size: 4em;
  float: left;
  line-height: 1em;
  margin-right: .1em; }

.ceo-letter-quote-end:after {
  quotes: "“" "”" "‘" "’";
  content: close-quote;
  font-size: 4em;
  line-height: 1em;
  float: right; }

.column-photo {
  height: 200px;
  background-color: #44546a;
  position: relative;
  background-size: cover;
  background-position: center; }

section.values .value-meet {
  background-image: url("images/values-meet.jpg"); }
section.values .value-respect {
  background-image: url("images/values-respect.jpg"); }
section.values .value-build {
  background-image: url("images/values-build.jpg"); }
section.values p {
  padding: 1rem; }
section.values .value-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

section.mafistas .new-mafistas {
  background-image: url("images/cleo.jpg");
  background-position: top; }
section.mafistas .training {
  background-image: url("images/training.jpg"); }
section.mafistas .walking {
  background-image: url("images/walking.jpg"); }
section.mafistas .column-photo {
  margin-bottom: 2rem; }

section.our-clients .client {
  margin-bottom: 2em; }
section.our-clients .sandra {
  background-image: url("images/sandra.jpg"); }
section.our-clients .column-photo {
  margin-bottom: 2rem; }

section.partners .column-photo {
  height: 350px; }
section.partners .partners-support {
  background-image: url("images/partners-support.jpg"); }
section.partners .partners-map {
  background-image: url("images/maf-map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white; }

section.highlights .technology {
  background-image: url("images/technology.jpg"); }
section.highlights .research {
  background-image: url("images/research.jpg"); }
section.highlights .leadership {
  background-image: url("images/leadership.jpg"); }

section.looking-ahead .mobile {
  background-image: url("images/mobile.jpg"); }
section.looking-ahead .summit {
  background-image: url("images/summit.jpg"); }
section.looking-ahead .research-photo {
  background-image: url("images/forward-research.jpg"); }

.mobile-tab {
  margin-bottom: 2rem !important; }

.ui-navbar li .ui-btn {
  background-color: transparent !important;
  color: #44546a !important;
  border: transparent !important;
  box-shadow: none !important; }

.ui-page-theme-a .ui-btn.ui-btn-active {
  background-color: transparent !important;
  color: #0f993d !important;
  border-bottom: 3px solid #0f993d !important;
  text-shadow: none !important;
  box-shadow: none !important; }

.state-loans {
  padding: 1rem; }

.state-loans.total {
  background-color: #44546a;
  color: white; }

.state,
.amount {
  text-align: center; }

.state {
  font-weight: lighter; }

.amount {
  font-weight: bolder; }

/*# sourceMappingURL=style.css.map */
