.padded-header {
  padding: 2em 1.5em;
}
.background-blue {
  background-color: $blue;
  color: #ffffff;
}
.background-green {
  background-color: $green;
  color: #ffffff;
}
.background-purple {
  background-color: $purple;
  color: #ffffff;
}
.background-red {
  background-color: $red;
  color: #ffffff;
}
.background-yellow {
  background-color: $yellow;
  color: #ffffff;
}
.background-orange {
  background-color: $orange;
  color: #ffffff;
}
.background-black {
  background-color: $black;
  color: #ffffff;
}
.background-gray {
  background-color: $gray;
  color: #ffffff;
}

// Transparent Colors
.background-transparent-purple {
  background-color: $purple-transparent;
  color: #ffffff;
}
.background-transparent-red {
  background-color: $red-transparent;
  color: #ffffff;
}
.background-transparent-yellow {
  background-color: $yellow-transparent;
  color: #ffffff;
}
.background-transparent-green {
  background-color: $green-transparent;
  color: #fff;
}
