head
  title MAF · 2015 Annual Report
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexbox/css/grid.min.css' rel='stylesheet' type='text/css')
  link(href='flexboxgrid.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js")

body
  header
    .colored-banner.row
      .col-xs.color-block.background-blue
      .col-xs.color-block.background-green
      .col-xs.color-block.background-purple
      .col-xs.color-block.background-red
      .col-xs.color-block.background-yellow
      .col-xs.color-block.background-orange
      .col-xs.color-block.background-black
  section.hero
    .row.hero-content.bottom-xs
      .col-xs-12.col-md-6
        h4.no-margin 2015 Annual Report 
        h1.no-margin Building Better
      .col-xs-12.col-md-6.small-padding-bottom
        p.no-margin We're a nonprofit on a mission to build a fair financial marketplace for hardworking families.
    .photo
      img(src='images/hero.jpg')
  section.values
    h3 Our Values
    .row
      .col-xs-12.col-sm-4.col-md-4
        div.column-photo.value-meet
          p.background-transparent-purple.value-caption.no-margin We meet you where you are.
      .col-xs-12.col-sm-4.col-md-4
        div.column-photo.value-respect
         p.background-transparent-red.value-caption.no-margin We respect you for who you are. 
      .col-xs-12.col-sm-4.col-md-4
        div.column-photo.value-build
          p.background-transparent-green.value-caption.no-margin We build on what you have. 
  section.ceo-letter
    h3 A Word from Our CEO
    .row
      .col-sm-12.col-md-6
        .photo
          img(src='images/ceo.jpg')
      .col-sm-12.col-md-6
        p In Spanish we say, “cada quien tiene un don” or “every person has a gift.” Lending Circles brings to light what’s already good in people’s lives.
        p This year, we’ve built a network of over 50 nonprofits across the nation to bring the power of social lending to thousands of hardworking people — so that they, too, can unlock their economic potential.
        p -- Jose Quinonez
  section.mafistas
    h2.header.header-green The MAFistas
    .row.hide-xs
      .col-sm-4
        mixin new-mafistas
          div.column-photo.new-mafistas
          h4.header-border.gray.no-margin 8
          h5.no-margin.gray New MAFistas
          p It's been quite a year at MAF. In 2015, we welcomed 8 new MAFistas — and 1 beautiful baby girl — to the family.
        +new-mafistas
      .col-sm-4
        mixin hours-of-training   
          div.column-photo.training
          h4.header-border.yellow.no-margin 750
          h5.no-margin.yellow Hours of Training 
          p Together, we completed over 750 hours of training courses and professional development.
        +hours-of-training
      .col-sm-4
        mixin steps
          div.column-photo.walking
          h4.header-border.green.no-margin 32,319,504
          h5.no-margin.green Steps
          p Our staff walked, ran, and skipped a total of 32,319,504 steps in MAF’s fitness challenge
        +steps
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#mafistas-one").mobile-tab-label.ui-btn-active New Staff
            li.mobile-tab
              a(href="#mafistas-two").mobile-tab-label Training
            li.mobile-tab
              a(href="#mafistas-three").mobile-tab-label Fitness
        div(id="mafistas-one")
          +new-mafistas
        div(id="mafistas-two")
          +hours-of-training
        div(id="mafistas-three")
          +steps
  section.our-impact
    h2.header.header-yellow Our Impact
    .row.hide-xs
      .col-xs-12
        h3 Milestones
        mixin milestones
          .column-photo.placeholder-sm
        +milestones
    .row.hide-xs
      .col-xs-12
        h3 Growth
        mixin growth
          .column-photo.placeholder-sm
        +growth
    .row.hide-xs
      .col-xs-12
        h3 Client Outcomes
        mixin outcomes
          .column-photo.placeholder-sm
        +outcomes
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#impact-one").mobile-tab-label.ui-btn-active Milestones
            li.mobile-tab
              a(href="#impact-two").mobile-tab-label Growth
            li.mobile-tab
              a(href="#impact-three").mobile-tab-label Outcomes
        div(id="impact-one")
          +milestones
        div(id="impact-two")
          +growth
        div(id="impact-three")
          +outcomes
      
  section.our-clients
    h2.header.header-gray Our Clients
    .row.hide-xs
      .col-sm-4
        mixin henry
          .column-photo.placeholder-sm
          h4.header-border.green.no-margin 100%
          h5.no-margin.green Of Clients Complete Financial Education
          h4 Henry
          p “If I had my dream, my daughter would be learning about financial literacy in elementary school.” As a financial coach in Minneapolis, Henry knew Lending Circles was something he couldn’t pass up. From schoolkids to financial coaches, everyone could benefit from financial education. After he joined, he brought the program to his nonprofit, Project for Pride in Living. 
        +henry
      .col-sm-4
        mixin kimberly
          .column-photo.placeholder-sm
          h4.header-border.purple.no-margin 582
          h5.no-margin.purple New Citizens & DACA Recipients
          h4 Kimberly
          p Kimberly worked hard in school, with dreams of becoming a lawyer. As an undocumented student, she wasn’t able to qualify for financial aid — until she joined Lending Circles for Deferred Action. Now she’s enrolled at S.F. State University and prepping her law school applications, on her way to a career in immigration and family law.
        +kimberly
      .col-sm-4
        mixin sandra
          .column-photo.sandra
          h4.header-border.orange.no-margin 1 in 7
          h5.no-margin.orange MAF Clients Are Self-Employed
          h4 Sandra
          p Sandra sells clothing emblazoned with her unique take on Dia de los Muertos “Calacas” (skulls). Despite growing demand, she struggled to get a business loan because of her low credit score. Lending Circles for Business pushed Sandra’s credit score above 800 and provided a loan to invest in more merchandise, helping her build her confidence and clientele.
        +sandra
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#client-henry").mobile-tab-label.ui-btn-active Henry
            li.mobile-tab
              a(href="#client-kimberly").mobile-tab-label Kimberly
            li.mobile-tab
              a(href="#client-sandra").mobile-tab-label Sandra
        div(id="client-henry")
          +henry
        div(id="client-kimberly")
          +kimberly
        div(id="client-sandra")
          +sandra
  section.partners
    h2.header.header-red Our Partners
    .row.hide-xs
      .col-sm-6
        mixin national-network
          .column-photo.partners-map
          h4 National Network
          p In 2015, our national network of Lending Circles providers grew from 31 to 53 nonprofit partners — ranging from LGBTQ organizations to business accelerators — across 17 states and Washington, DC.
        +national-network
      .col-sm-6
        mixin support
          .column-photo.partners-support
          h4 Partner Support
          p MAF’s Partner Success Managers support our nonprofit partners with everything from forming their first Lending Circle to sharing their client successes. This year we provided over 4000 hours of training and technical assistance to help our partners set up and sustain Lending Circles.
        +support
    .row.hide-xs
      mixin national-partners-list-title
        h3 Our Community
        .col-xs-12
          h4.header-border.orange.no-margin 53
          h5.no-margin.orange National partners
      +national-partners-list-title
    .row.hide-xs
      .col-xs-12.col-sm-6
        mixin national-partners-list-1
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span CA
              span.state-icon-small E
            ul
              li AnewAmerica
              li Asian Resources
              li BrownBoiProject
              li Building Skills Partnership
              li Central City Neighborhood Partners
              li Family Independence Initiative
              li Fremont Family Resource Center
              li Game Theory Academy
              li Korean Resource Center
              li Mexican American Opportunity Foundation (MAOF)
              li Mission Asset Fund
              li OBDC Small Business Finance
              li Peninsula Family Service
              li Pilipino Workers Center of Southern California
              li Renaissance Entrepreneurship Center
              li Rubicon Programs
              li San Francisco LGBT Community Center
              li The Unity Council
              li Veterans Equity Center
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span CO
              span.state-icon-small F
            ul
              li NEWSED Community Development Corporation
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span DC
              span.state-icon-small y
            ul
              li Latino Economic Development Center (LEDC Metro/DC)
              li National Coalition for Asian Pacific American Community Development (CAPACD)
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span FL
              span.state-icon-small l
            ul
              li Catalyst Miami
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span GA
              span.state-icon-small J
            ul
              li Center for Pan Asian Community Services
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span HI
              span.state-icon-small K
            ul
              li Hawaiian Community Assets, Inc.
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span IL
              span.state-icon-small N
            ul
              li Center for Changing Lives
              li Chinese American Service League
              li The Resurrection Project
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span MI
              span.state-icon-small V
            ul
              li Southwest Solutions
        +national-partners-list-1
      .col-xs-12.col-sm-6
        mixin national-partners-list-2
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span MN
              span.state-icon-small W
            ul
              li Asian Economic Development Association
              li ComunidadesLatinasUnidasenServicio
              li Project for Pride in Living
              li Southwest Minnesota Housing Partnership
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span NY
              span.state-icon-small h
            ul
              li ChhayaCommunity Development Corporation
              li Harlem Congregations for Community Improvement, Inc.
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span OH
              span.state-icon-small i
            ul
              li Asian Services in Action
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span OR
              span.state-icon-small k
            ul
              li CAPACES Leadership Institute
              li La Hacienda
              li The Next Door, Inc.
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span TN
              span.state-icon-small p
            ul
              li ConexionAmericas
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span TX
              span.state-icon-small q
            ul
              li Catholic Charities of Fort Worth
              li Chinese Community Center
              li El Paso Collaborative for Community and Economic Development
              li Family Pathfinders
              li YWCA of Fort Worth and Tarrant County
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span VA
              span.state-icon-small s
            ul
              li Northern Virginia Family Service
          div(data-role="collapsible" data-inset="false")
            h4.no-margin
              span WA
              span.state-icon-small u
            ul
              li 21 Progress
              li El Centro de la Raza
        +national-partners-list-2
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#partners-network").mobile-tab-label.ui-btn-active National Network
            li.mobile-tab
              a(href="#partners-support").mobile-tab-label Partner Support
            li.mobile-tab
              a(href="#our-community").mobile-tab-label Our Community
        div(id="partners-network")
          +national-network
        div(id="partners-support")
          +support
        div(id="our-community")
          +national-partners-list-title
          +national-partners-list-1
          +national-partners-list-2
  section.loans-across-the-country
    h2.header.header-purple Loans Across the Country
    include states.jade
    .row
      each state in states
        .col-xs-6.col-sm-3.state-loans(data-role="collapsible" data-inset="false")
          h4.no-margin
            span= state['state']
            span.state-icon= state['state-icon']
          ul
            each partner in state['partners']
              li= partner
    .row
      .col-xs-6.col-sm-3.state-loans
        .state NV
        .state-icon g
        .amount $81,000.00
      .col-xs-6.col-sm-3.state-loans
        .state CA
        .state-icon E
        .amount $1,296,954.50
      .col-xs-6.col-sm-3.state-loans
        .state OR
        .state-icon k
        .amount $26,400.00
      .col-xs-6.col-sm-3.state-loans
        .state WA
        .state-icon u
        .amount $92,540.00
    .row
      .col-xs-6.col-sm-3.state-loans
        .state MN
        .state-icon W
        .amount $127,100.00
      .col-xs-6.col-sm-3.state-loans
        .state MA
        .state-icon S
        .amount $151,515.10
      .col-xs-6.col-sm-3.state-loans
        .state FL
        .state-icon I
        .amount $41,680.00
      .col-xs-6.col-sm-3.state-loans
        .state CO
        .state-icon F
        .amount $12,650.00
    .row
      .col-xs-6.col-sm-3.state-loans
        .state GA
        .state-icon J
        .amount $21,500.00
      .col-xs-6.col-sm-3.state-loans
        .state TX
        .state-icon q
        .amount $33,000.00
      .col-xs-6.col-sm-3.state-loans
        .state HI
        .state-icon K
        .amount $9,800.00
      .col-xs-6.col-sm-3.state-loans
        .state IL
        .state-icon N
        .amount $65,900.00
    .row
      .col-xs-6.col-sm-3.state-loans
        .state VA
        .state-icon s
        .amount $12,925.00
      .col-xs-6.col-sm-3.state-loans
        .state NY
        .state-icon h
        .amount $22,450.00
      .col-xs-6.col-sm-3.state-loans
        .state DC
        .state-icon y
        .amount $27,250.00
      .col-xs-6.col-sm-3.state-loans
        .state OH
        .state-icon i
        .amount $14,400.00
    .row
      .col-xs-6.col-sm-3.state-loans
        .state MD
        .state-icon T
        .amount $125,150.00
      .col-xs-6.col-sm-3.state-loans
        .state MI
        .state-icon V
        .amount $6,500.00
      .col-xs-6.col-sm-3.state-loans
        .state PA
        .state-icon l
        .amount $350.00
      .col-xs-6.col-sm-3.state-loans.total
        .state.total Total
        .state-icon z
        .amount $2,069,064.60
  section.highlights
    h2.header.header-orange 2015 Highlights
    .row.hide-xs
      .col-xs-12.col-md-4
        mixin lending-circle-highlight
          .column-photo.technology
          h4 Technology
          p 2015 marked the roll-out of our new online social loan platform, cutting our client application time in half and connecting our partners with on-demand troubleshooting and support.
          p Next, we launched Virtual Lending Circles Formations in California, allowing residents to join our credit-building community from anywhere across the state.
        +lending-circle-highlight
      .col-xs-12.col-md-4
        mixin hierarchy-of-needs
          .column-photo.research
          h4 Research
          p In December we unveiled the “Hierarchy of Financial Needs,”  a new framework for understanding economic well-being — inspired by Abraham Maslow’s hierarchy of physical, social, and psychological needs.
        +hierarchy-of-needs
      .col-xs-12.col-md-4
        mixin what-its-worth
          .column-photo.leadership
          h4 Leadership
          p CEO Jose Quinonez was invited to contribute a chapter to <cite>What It’s Worth: Strengthening the Financial Future of Families, Communities and the Nation</cite>, a new book published by CFED and the Federal Reserve Bank of San Francisco.
          p Jose’s chapter “Latinos in the Financial Shadows” highlights the hidden strengths of immigrant communities and MAF’s work to bring informal practices into the mainstream.
        +what-its-worth
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#technology").mobile-tab-label.ui-btn-active Technology
            li.mobile-tab
              a(href="#research").mobile-tab-label Research
            li.mobile-tab
              a(href="#leadership").mobile-tab-label Leadership
        div(id="technology")
          +lending-circle-highlight
        div(id="research")
          +hierarchy-of-needs
        div(id="leadership")
          +what-its-worth
  section.our-financials
    h2.header.header-black Our Financials
    h4 Every Dollar Opens Doors
    .row
      .col-xs-12
        .photo
          img(src='images/financials.jpg')
    .row.hide-xs
      .col-sm-4
        h4 Social Lending
        mixin social-lending
          h4.header-border.green.no-margin $2m
          h5.no-margin.green in social loans
          p In 2015, we provided over $2 million in loans to help thousands of hardworking people save for college, grow businesses, and become citizens — all while building better credit.
        +social-lending
      .col-sm-4
        h4 Fundraising
        mixin fundraising
          h4.header-border.purple.no-margin $3.7m
          h5.no-margin.purple raised
          p We raised $3.27 million from foundations, corporations, individuals, and partnership fees.  JPMorgan Chase & Co. awarded MAF a landmark grant of $1.5 million to expand Lending Circles even further across the country.
        +fundraising
      .col-sm-4
        h4 Building Better
        mixin building-better
          h4.header-border.orange.no-margin $2m
          h5.no-margin.orange invested
          p This year we invested $2 million in new partnerships and upgraded technologies. Two major campaigns — Build a Better Bay Area and Build a Better Northwest — added 9 new local partners and 3 in the Pacific Northwest, while Virtual Formations expanded Lending Circles across California.
        +building-better
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#social-lending").mobile-tab-label.ui-btn-active Social Lending
            li.mobile-tab
              a(href="#fundraising").mobile-tab-label Fundraising
            li.mobile-tab
              a(href="#building-better").mobile-tab-label Building Better
        div(id="social-lending")
          +social-lending
        div(id="fundraising")
          +fundraising
        div(id="building-better")
          +building-better
  section.looking-ahead
    h2.header.header-gray Looking ahead
    .row.hide-xs
      .col-xs-12.col-sm-4
        mixin lending-circles-summit
          .column-photo.summit
          h4 Lending Circles Summit
          p Coming in October 2016, the Lending Circles Summit will convene the nonprofit and for-profit innovators bringing the power of social lending to communities across the country.
          p We’ll hear insights from industry leaders who are shaping the future of financial health about how we can equitably serve consumers of all backgrounds and income levels.
        +lending-circles-summit
      .col-xs-12.col-sm-4        
        mixin mobile-app
          .column-photo.mobile
          h4 Mobile App
          p Over the next year, we will make our programs completely mobile-accessible.
          p The Lending Circles App will enable participants to monitor financial progress and make it easier for our nonprofit partners to provide social loans to communities across the nation. 
        +mobile-app
      .col-xs-12.col-sm-4
        mixin forward-research
          .column-photo.research-photo
          h4 Research
          p We learn so we can do better. That’s why data and research are part of our DNA.
          p This year, we’ll finish up a long-term research project with Yale University studying the impact of programs like Lending Circles on participants’ financial lives, as well as the role of friends and family in people’s financial health.
        +forward-research
    .row.show-xs
      div(data-role="tabs").col-xs-12
        div(data-role="navbar")
          ul
            li.mobile-tab
              a(href="#lending-circles-summit").mobile-tab-label.ui-btn-active LC Summit
            li.mobile-tab
              a(href="#mobile-app").mobile-tab-label Mobile App
            li.mobile-tab
              a(href="#forward-research").mobile-tab-label Research
        div(id="lending-circles-summit")
          +lending-circles-summit
        div(id="mobile-app")
          +mobile-app
        div(id="forward-research")
          +forward-research
  section.our-supporters
    h2.header.header-green Thanks to Our Supporters
    .row
      .col-xs-12
        p Thanks to the support of our funders, donors, and board members, we’re helping thousands of families create more secure financial futures.
    .row
      .col-xs-12
        h3 Funders
    .row
      .col-xs-12.col-sm-6
        h4 Visionaries
        ul
          li JPMorgan Chase & Co.
          li Center for Financial Services Innovation (CFSI)
          li Citi Community Development 
          li Levi Strauss Foundation
        h4 Innovators
        ul
          li Capital One
          li Experian
          li Ford Foundation
          li Google
          li The James Irvine Foundation
          li Northwest Area Foundation
          li Tipping Point Community
      .col-xs-12.col-sm-6
        h4 Supporters
        ul
          li Ameriprise Financial
          li Ashoka
          li Bank of the West
          li Benevity Inc.
          li Evelyn and Walter Haas Jr. Fund
          li Friedman Family Foundation
          li Goldhirsh Foundation
          li Heising-Simons Foundation
          li Marcled Foundation
          li National Council of La Raza (NCLR)
          li O2 Initiatives
          li Roy & Patricia Disney Family Foundation
          li Russell Sage Foundation
          li San Francisco Mayor’s Office of Housing
          li San Francisco Office of Economic & Workforce Development
          li Silicon Valley Community Foundation
          li Silicon Valley Social Venture Fund (SV2)
          li The San Francisco Foundation
          li Walter and Elise Haas Fund
          li Y&H Soda Foundation
    .row
      .col-xs-12
        h3 Donors & Volunteers
    .row
      .col-xs-12.col-sm-6
        h4 Individual Donors
        ul
          li Anonymous
          li Diane Andronica
          li Jorge Pacheco Avila
          li Christine Comella
          li Michelle Durgy
          li Mary Anne Fairley
          li Chris Ferrer
          li Bonnie Freeman
          li Tadao Peter Gee
          li Brigitte Gosselink
          li Elise. K. Haas
          li Mary Hassler
          li John Hayes
          li Michael Karson
          li David Krimm
          li Dan Massey
          li Steven Nakai
          li Jennifer Phillips
      .col-xs-12.col-sm-6
        h4 Individual Donors
        ul
          li Kelsea McDonough
          li Sean McDonough
          li Aditi Mohapa
          li Sandra Murphy
          li Cynthia Olazabal
          li Beverly Patterson
          li Tara Robinson
          li Susana Rodriguez
          li Manuel J Santamaria
          li Lisa Sardegna
          li Andrew Schweig
          li John Templeton
          li Jon Voss
          li Stephan Waldstrom
          li Sabrina Wilensky
    .row
      .col-xs-12.col-sm-6
        h4 Board Of Directors
        ul
          li Vicki Joseph, President
          li Mona Masri, Vice President
          li Ian McLeod, Treasurer
          li Manuel Santamaria
          li Haydee Moreno
          li Aquilina Soriano
          li David Krimm
          li Salvador Torres
          li Stephan Waldstrom
      .col-xs-12.col-sm-6
        h4 Special Thanks To
        ul
          li Bjorn Commers
          li Nikhil Goel
          li Dan Massey
          li Billy Roh
          li Sudarshan Upadhya
          li Kathryn Weinmann
