-
  states = [
    {
      'name': 'california',
      'state-icon': 'E',
      'amount': '$1,296,954.50',
      'partners': [
        'AnewAmerica',
        'Asian Resources',
        'BrownBoiProject',
        'Building Skills Partnership',
        'Central City Neighborhood Partners',
        'Family Independence Initiative',
        'Fremont Family Resource Center',
        'Game Theory Academy',
        'Korean Resource Center',
        'Mexican American Opportunity Foundation (MAOF)',
        'Mission Asset Fund',
        'OBDC Small Business Finance',
        'Peninsula Family Service',
        'Pilipino Workers Center of Southern California',
        'Renaissance Entrepreneurship Center',
        'Rubicon Programs',
        'San Francisco LGBT Community Center',
        'The Unity Council',
        'Veterans Equity Center'
      ]
    },
    {
      'name': 'colorado',
      'state-icon': 'F',
      'amount': '$12,650.00',
      'partners': [
        'NEWSED Community Development Corporation'
      ]
    },
    {
      'name': 'washington DC',
      'state-icon': 'y',
      'amount': '$27,250.00',
      'partners': [
        'Latino Economic Development Center (LEDC Metro/DC)',
        'National Coalition for Asian Pacific American Community Development (CAPACD)'
      ]
    },
    {
      'name': 'florida',
      'state-icon': 'l',
      'amount': '$41,680.00',
      'partners': [
        'Catalyst Miami',
      ]
    },
    {
      'name': 'georgia',
      'state-icon': 'J',
      'amount': '$21,500.00',
      'partners': [
        'Center for Pan Asian Community Services'
      ]
    },
    {
      'name': 'hawaii',
      'state-icon': 'K',
      'amount': '$9,800.00',
      'partners': [
        'Hawaiian Community Assets, Inc.'
      ]
    },
    {
      'name': 'illinois',
      'state-icon': 'N',
      'amount': '$65,900.00',
      'partners': [
        'Center for Changing Lives',
        'Chinese American Service League',
        'The Resurrection Project'
      ]
    },
    {
      'name': 'maryland',
      'state-icon': 'T',
      'amount': '$125,150.00',
    },
    {
      'name': 'massachusetts',
      'state-icon': 'S',
      'amount': '$151,515.10',
    },
    {
      'name': 'michigan',
      'state-icon': 'V',
      'amount': '$6,500.00',
      'partners': [
        'Southwest Solutions',
      ]
    },
    {
      'name': 'minnesota',
      'state-icon': 'W',
      'amount': '$127,100.00',
      'partners': [
        'Asian Economic Development Association',
        'ComunidadesLatinasUnidasenServicio',
        'Project for Pride in Living',
        'Southwest Minnesota Housing Partnership'
      ]
    },
    {
      'name': 'new york',
      'state-icon': 'h',
      'amount': '$22,450.00',
      'partners': [
        'ChhayaCommunity Development Corporation',
        'Harlem Congregations for Community Improvement, Inc.'
      ]
    },
    {
      'name': 'nevada',
      'state-icon': 'g',
      'amount': '$81,000.00',
    },
    {
      'name': 'ohio',
      'state-icon': 'i',
      'amount': '$14,400.00',
      'partners': [
        'Asian Services in Action'
      ]
    },
    {
      'name': 'oregon',
      'state-icon': 'k',
      'amount': '$26,400.00',
      'partners': [
        'CAPACES Leadership Institute',
        'La Hacienda',
        'The Next Door, Inc.'
      ]
    },
    {
      'name': 'philadelphia',
      'state-icon': 'l',
      'amount': '$350.00',
    },
    {
      'name': 'tennessee',
      'state-icon': 'p',
      'amount': '$0',
      'partners': [
        'ConexionAmericas'
      ]
    },
    {
      'name': 'texas',
      'state-icon': 'q',
      'amount': '$33,000.00',
      'partners': [
        'Catholic Charities of Fort Worth',
        'Chinese Community Center',
        'El Paso Collaborative for Community and Economic Development',
        'Family Pathfinders',
        'YWCA of Fort Worth and Tarrant County'
      ]
    },
    {
      'name': 'virginia',
      'state-icon': 's',
      'amount': '$12,925.00',
      'partners': [
        'Northern Virginia Family Service'
      ]
    },
    {
      'name': 'washington',
      'state-icon': 'u',
      'amount': '$92,540.00',
      'partners': [
        '21 Progress',
        'El Centro de la Raza'
      ]
    },
    {
      'name': 'total',
      'state-icon': 'z',
      'amount': '$2,069,064.60',
    }
  ]
