-
  states = [
    {
      'state': 'california',
      'state-icon': 'E',
      'amount': '$1,296,954.50',
      'partners': [
        'AnewAmerica',
        'Asian Resources',
        'BrownBoiProject',
        'Building Skills Partnership',
        'Central City Neighborhood Partners',
        'Family Independence Initiative',
        'Fremont Family Resource Center',
        'Game Theory Academy',
        'Korean Resource Center',
        'Mexican American Opportunity Foundation (MAOF)',
        'Mission Asset Fund',
        'OBDC Small Business Finance',
        'Peninsula Family Service',
        'Pilipino Workers Center of Southern California',
        'Renaissance Entrepreneurship Center',
        'Rubicon Programs',
        'San Francisco LGBT Community Center',
        'The Unity Council',
        'Veterans Equity Center'
      ]
    },
    {
      'state': 'colorado',
      'state-icon': 'F',
      'amount': '$12,650.00',
      'partners': [
        'NEWSED Community Development Corporation'
      ]
    },
    {
      'state': 'washington DC',
      'state-icon': 'y',
      'amount': '$27,250.00',
      'partners': [
        'Latino Economic Development Center (LEDC Metro/DC)',
        'National Coalition for Asian Pacific American Community Development (CAPACD)'
      ]
    },
    {
      'state': 'florida',
      'state-icon': 'l',
      'amount': '$41,680.00',
      'partners': [
        'Catalyst Miami',
      ]
    },
    {
      'state': 'georgia',
      'state-icon': 'J',
      'amount': '$21,500.00',
      'partners': [
        'Center for Pan Asian Community Services'
      ]
    },
    {
      'state': 'hawaii',
      'state-icon': 'K',
      'amount': '$9,800.00',
      'partners': [
        'Hawaiian Community Assets, Inc.'
      ]
    },
    {
      'state': 'illinois',
      'state-icon': 'N',
      'amount': '$65,900.00',
      'partners': [
        'Center for Changing Lives',
        'Chinese American Service League',
        'The Resurrection Project'
      ]
    },
    {
      'state': 'maryland',
      'state-icon': 'T',
      'amount': '$125,150.00',
      'partners': []
    },
    {
      'state': 'massachusetts',
      'state-icon': 'S',
      'amount': '$151,515.10',
      'partners': []
    },
    {
      'state': 'michigan',
      'state-icon': 'V',
      'amount': '$6,500.00',
      'partners': [
        'Southwest Solutions',
      ]
    },
    {
      'state': 'minnesota',
      'state-icon': 'W',
      'amount': '$127,100.00',
      'partners': [
        'Asian Economic Development Association',
        'ComunidadesLatinasUnidasenServicio',
      ]
    },
    {
      'state': 'new york',
      'state-icon': 'h',
      'amount': '$22,450.00',
      'partners': [
        'Test',
        'Another Test'
      ]
    },
    {
      'state': 'nevada',
      'state-icon': 'g',
      'amount': '$81,000.00',
      'partners': []
    }.
    {
      'state': 'ohio',
      'state-icon': 'A',
      'amount': '$14,400.00',
      'partners': [
        'Test',
        'Another Test'
      ]
    },
    {
      'state': 'oregon',
      'state-icon': 'A',
      'amount': '$26,400.00',
      'partners': [
        'Test',
        'Another Test'
      ]
    },
    {
      'state': 'philadelphia',
      'state-icon': 'l',
      'amount': '$350.00',
      'partners': []
    },
    {
      'state': 'tennessee',
      'state-icon': 'A',
      'amount': '$0',
      'partners': [
        'Test',
        'Another Test'
      ]
    },
    {
      'state': 'texas',
      'state-icon': 'A',
      'amount': '$33,000.00',
      'partners': [
        'Test',
        'Another Test'
      ]
    },
    {
      'state': 'virginia',
      'state-icon': 'A',
      'amount': '$12,925.00',
      'partners': [
        'Test',
        'Another Test'
      ]
    },
    {
      'state': 'washington',
      'state-icon': 'A',
      'amount': '$92,540.00',
      'partners': [
        'Test',
        'Another Test'
      ]
    }
  ]
