@import 'stylesheets/variables';
@import 'stylesheets/typography';
@import 'stylesheets/grid';
@import 'stylesheets/background';

// Tabs
a.mobile-tab-label {
  border-width: 0 0 1 0;
  font-family: $font-family-header;
  text-transform: uppercase;
}

// Photo placeholders
.photo {
  background-color: $gray;
  img {
    width: 100%;
  }

  &.placeholder-lg {
    height: 40em;
    margin-bottom: 2em;
  }

  &.placeholder-md {
    height: 30em;
    margin-bottom: 2em;
  }

  &.placeholder-sm {
    height: 20em;
    margin-bottom: 1em;
  }
}

section {
  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto;
}

// Sections
header .colored-banner {
  .color-block {
    height: 3px;
  }
}

section.hero {
  .hero-content {
    margin: 2em 0 3em;
  }
  .photo {
    background-image: url('images/hero.jpg');
  }
}

.ceo-letter-quote:before {
  quotes: "“" "”" "‘" "’";
  content: open-quote;
  font-size: 4em;
  float: left;
  line-height: 1em;
  margin-right: .1em;
}

.ceo-letter-quote-end:after {
  quotes: "“" "”" "‘" "’";
  content: close-quote;
  font-size: 4em;
  line-height: 1em;
  float: right;
}

.column-photo {
  height: 200px;
  background-color: $gray;
  position: relative;
  background-size: cover;
  background-position: center;
}

section.values {

  .value-meet {
    background-image: url('images/values-meet.jpg');
  }

  .value-respect {
    background-image: url('images/values-respect.jpg');
  }

  .value-build {
    background-image: url('images/values-build.jpg');
  }

  p {
    padding: 1rem;
  }
  .value-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

section.mafistas {
  .new-mafistas {
    background-image: url('images/cleo.jpg');
    background-position: top;
  }
  .training {
    background-image: url('images/training.jpg');
  }
  .walking {
    background-image: url('images/walking.jpg');
  }
}

section.our-clients {
  .client {
    margin-bottom: 2em;
  }

  .sandra {
    background-image: url('images/sandra.jpg');
  }
}

section.partners {
  .column-photo {
    height: 350px;
  }

  .partners-support {
    background-image: url('images/partners-support.jpg');
  }

  .partners-map {
    background-image: url('images/maf-map.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
  }
}

.state-loans {
  padding: 1rem;
}

.state-loans.total {
  background-color: $gray;
  color: white;
}

.state,
.amount {
  text-align: center;
}

.state {
  font-weight: lighter;
}

.amount {
  font-weight: bolder;
}
